<div class="panel panel-default">
  <div class="panel-heading">
    Contacts
  </div>
  <table class="table table-condensed" ng-table="tableParams">
      <tr ng-repeat="contact in $data">
        <td data-title="'Name'" data-sortable="'lastName'">
          {{contact.lastName | name}}, {{contact.otherNames|name}}
        </td>
        <td data-title="'Days since last contact'" data-sortable="'daysSinceLastContact'">
          {{contact.daysSinceLastContact}}
        </td>
        <td data-title="'Status'" ng-bind="contact.status" data-sortable="'status'">
          {{contact.status}}
        </td>
        <td data-title="'Change status'">
          <button ng-click="toggleStatus(contact)">
            Set {{contact.status === 'active' ? 'inactive':'active'}}
          </button>
        </td>
      </tr>
  </table>
  <div class="panel-footer compact">
  </div>
</div>
