<div class="panel panel-default">
  <div class="panel-heading">
    Contacts
  </div>
  <table class="table table-condensed">
     <thead>
       <tr>
         <th title="Name">Name</th>
         <!--<th title="Age">Age</th>-->
         <!--<th title="Date of Last Visit">Last visit</th>-->
         <th title="Status">Status</th>
         <th title="Change status">Change status</th>
       </tr>
     </thead>
     <tbody>
        <tr ng-repeat="contact in contacts">
          <td data-title="'Name'">{{contact.lastName | name}}, {{contact.otherNames|name}}</td>
          <!--<td data-title="'Age'">{{contact.age | orEmpty}}</td>-->
          <!--<td data-title="'Date of Last Visit'">{{contact.lastVisit | date:SETTINGS.dateTimeFormat}}</td>-->
          <td data-title="'Status'" ng-bind="contact.status">{{contact.status}}</td>
          <td data-title="'Change status'">
            <button ng-click="toggleStatus(contact)">
              Set {{contact.status === 'active' ? 'inactive':'active'}}
            </button>
          </td>
        </tr>
     </tbody>
  </table>
  <div class="panel-footer compact">
  </div>
</div>
