<div class="panel panel-default">
  <div class="panel-heading">
    Contacts
  </div>
  <table class="contacts table table-condensed" ng-table="tableParams" show-filter="true">
    <tr class="contact basic" ng-repeat-start="contact in $data" ng-click="showDetails(contact)">
        <td data-title="'Merge'">
          <input type="checkbox" ng-model="contact.selected" ng-click="selectForMerge(contact, $event)">
        </td>
        <td data-title="'Name'" data-sortable="'lastName'">
          {{contact.lastName | name}}, {{contact.otherNames | name}}
        </td>
        <td data-title="'State'" filter="{'state': 'text'}" data-sortable="'state'">
          {{contact.state | name}}
        </td>
        <td data-title="'LGA'" filter="{'lga': 'text'}" data-sortable="'lga'">
          {{contact.lga | name}}
        </td>
        <td data-title="'Days since last contact'" data-sortable="'daysSinceLastContact'"
          ng-class="{deactivate: toDeactivate(contact)}">
            {{contact.daysSinceLastContact}}
            <i class="fa fa-warning" ng-show="toDeactivate(contact)"></i>
        </td>
        <td data-title="'Status'" ng-model="contact.status" data-sortable="'status'">
          <span class="label" ng-class="{'label-warning': contact.status === 'active',
                                         'label-default': contact.status === 'inactive'}">
            {{contact.status}}
          </span>
        </td>
        <td data-title="'Change status'">
          <button ng-click="toggleStatus(contact, $event)">
            Set {{contact.status === 'active' ? 'inactive':'active'}}
          </button>
        </td>
      </tr>
      <tr class="contact details" ng-repeat-end ng-if="contact.includingDetailedInfo"
        ng-include="'views/_contact-details.html'">
      </tr>
  </table>
  <div class="panel-footer compact">
  </div>
</div>
